

/***************** Charts legend  *****************/

/***************** Colors  *****************/

/*Navy*/
.bg-navy {
    background: #2a2a9a;
}

/*Grape*/
.bg-grape {
  background: #b374ff;
}

/*Blue*/
.bg-blue {
    background: #3273ff;
}

/*Violet*/
.bg-violet {
    background: #a90099;
}

/*Red*/
.bg-red {
    background: #f0585f;
}

/*Gray*/
.bg-gray {
    background: #CCC;
}

/*Yellow*/
.bg-yellow {
    background: #FFEFD7;
}

/*------------- Diamond ------------------------*/

.diamond {
    font-size: 22px;
}

/*------------- widht adjustment ------------------------*/

.w-adj {
    width: 75%;
    margin-top: -40px !important;
    margin-bottom: -150px !important;
}