/*------------- set up ------------------------*/

@media print {

    @page {
        size: letter portrait;
		/*size:8.5in 11in;*/
		margin: 0px;
    }

    @page :first {
     /*margin-right: 0cm;*/
		margin:0px
    }
	@page:right{
	  @bottom-right {
		content: counter(page);
	  }
	}

	@page:left{
	  @bottom-left {
		content: counter(page);
	  }
	}

	body{
		font-size:16px;
	}
  .no-print, .no-print *
  {
      display: none !important;
  }
  .print {
    display: block;
  }
	.back-cover{
		min-height: 100vh;
	}
	section.bg-purple{
		height: 100%;
	}
	.height85vh{
		height: 100vh;
	}
	
	.AboutTheWJP{
		min-height: 100vh;
	}
	
.bg-purple a{
	text-decoration: none;
	}
	.btn-top.toTop{
		display:none;
	}
	
/*------------- end set up ------------------------*/


/*------------- page cover ------------------------*/

	.bg-page-cover {
		height: 100%;
		min-height: 100vh;
	}
	.bg-page-cover .logo-cover{
		display: block;
	}

/*------------- end page cover ------------------------*/

	.bg-data-Acknowledgements.mt-5{
		margin-top: 8rem !important;
	}
	
 .table-contents{
		min-height: 100vh;
	}
	.table-contents .col-sm-8.col-md-4.mt-5{
		padding-top:150px !important;
	}
	.table-contents p.li em{
		margin-top: 1.5rem;
		display: block;
	}
	.table-contents p.li b{
		margin-top: 3rem;
		display: block;
	}
	.table-contents p.li b:first-child{
		margin-top: 0rem;
	}
	#Acknowledgements .epty-space{
		margin-top: 11cm;
	}

}
	