
# History files
.Rhistory
.Rapp.history
.docx
*.docx

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.DS_Store

# RStudio files
National/Directorio.xlsx

# Figure files
.svg

#Outputs
National/Data_cleaning/Output
National/Descriptives/Output
National/Hypothesis/Output
Methodology/Notas metodológicas.docx
Methodology/Variables de corte sociodemográfico.docx
Methodology/Recategorización de variable de ingreso.docx
National/Directorio_29112023.xlsx
National/Exploration/Input/Inspecciones.xlsx
National/Exploration/Input/Inquietudes SIII.xlsx
Methodology/Pruebas de robustez_22112023.docx
National/Exploration/Output/Detenciones/Tortura/Totura_culpabilidad.xlsx
Methodology/Pruebas de robustez_22112023.docx
Methodology/Presupuesto.xlsx
National/Exploration/Output/Detenciones/Tortura/dummy.csv
National/Exploration/Output/Detenciones/Tortura/Tortura_culpabilidad.xlsx
National/Exploration/Output/Detenciones/Tortura/Tortura_embudo_comparativo.pptx
National/Exploration/Output/Detenciones/Tortura/Totura_culpabilidad_embudo.xlsx
National/Revisión Estructura v14dic.xlsx
National/Exploration/Output/Detenciones/Tortura/Hallazgos hipotesis tortura.xlsx
-MacBook Pro de Santiago.Rhistory
National/Exploration/Input/col_names_label.xlsx
National/Exploration/Code/dummy.csv
Methodology/Pruebas de robustez_22112023.docx
Methodology/Pruebas de robustez_22112023.docx
National/Exploration/Input/Cortes de años_estado_delito.xlsx
Methodology/Pruebas de robustez_22112023.docx
National/Indicators/Input/Codebook.xlsx
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_1_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_1_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Colo_piel_claro_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Colo_piel_claro_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Educacion_obligatoria_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Edad_menor30_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Edad_menor30_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Etnia_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2LGBTQ_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2LGBTQ_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Mujer_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Operativo_Conjunto_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Educacion_obligatoria_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Ingreso_inseguro_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Etnia_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Hospital_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Juez de lo penal_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Zona militar_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Vehículo_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Terreno baldío_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Otra_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Oficina del gobierno_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Instalación de la policía_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Establecimiento comercial_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Centro penitenciario_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Centro de detención para migrantes_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Centro de arraigo_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Agencia del Ministerio Público_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_5Primer_lugar_traslado_Casa particular_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_4_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_4_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 6 horas hasta 24 horas_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 4 horas hasta 6 horas_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 30 minutos hasta 1 hora_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 48 horas hasta 72 horas_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 2 horas hasta 4 horas_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 72 horas_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 1 hora hasta 2 horas_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Hasta 30 minutos_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Mujer_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Mujer_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_3Tiempo_traslado_Más de 24 horas hasta 48 horas_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Ingreso_inseguro_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Etnia_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Etnia_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Educacion_obligatoria_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2LGBTQ_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Ingreso_inseguro_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Edad_menor30_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Edad_menor30_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Educacion_obligatoria_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Colo_piel_claro_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_1_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2Colo_piel_claro_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Mujer_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Mujer_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2LGBTQ_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2LGBTQ_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_2LGBTQ_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Ingreso_inseguro_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Etnia_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Etnia_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Educacion_obligatoria_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Educacion_obligatoria_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Ingreso_inseguro_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Edad_menor30_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Edad_menor30_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Colo_piel_claro_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_2Colo_piel_claro_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_1_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Federal_Ministerial_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Municipal_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Municipal_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Federal_Ministerial_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Estatal_indep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_1_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Federal_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Ejercito_o_Marina_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Federal_indep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Operativo_Conjunto_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_1_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Mujer_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Policia_Estatal_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_3Ejercito_o_Marina_dep.png
National/Robustness_Checks/Output/Uso excesivo de la fuerza/Figura1_2Ingreso_inseguro_indep.png
Methodology/Pruebas de robustez_22112023.docx
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_3_dep.png
National/Robustness_Checks/Output/Violación a la integridad personal/Figura2_3_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_6_1_indep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_6_2_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_6_1_dep.png
National/Robustness_Checks/Output/Violación a la libertad/Figura3_6_2_indep.png
National/Exploration/Input/Debido_proceso/Legalidad/desc_defensa_severidad_sentencia.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/desc_severidad_sentencia.csv
National/Exploration/Input/Debido_proceso/Legalidad/desc_severidad_sentencia.xlsx
National/Exploration/Output/Debido_proceso/Legalidad/desc_severidad_sentencia.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/desc_severidad_sentencia_juez.csv
National/Exploration/Input/Debido_proceso/Legalidad/exp_Confianza_insituciones2017-2021.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/exp_Corrup_insituciones2011-2021.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/exp_presuncion_inocencia.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/exp_defensa_adecuada.xlsx
National/Exploration/Output/Debido_proceso/Legalidad/desc_presuncion_inocencia_pp.xlsx
National/Exploration/Output/Debido_proceso/Legalidad/desc_corrupcion.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/desc_corrupción_estado.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/desc_corrupción_años.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/exp_corrupcion.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/desc_corrupción_delito.xlsx
National/Delitos prioritarios.xlsx
National/Exploration/Input/Debido_proceso/Legalidad/desc_corrupcion_completa_2008.svg
National/Exploration/Input/Debido_proceso/Legalidad/desc_estrategia_investigacion_inspecciones_2008.svg
National/Exploration/Input/Debido_proceso/Legalidad/desc_estrategia_investigacion_interrogatorio_2008.svg
National/Exploration/Input/Debido_proceso/Legalidad/desc_estrategia_investigacion_señalamientos_2008.svg
National/Exploration/Input/Debido_proceso/Legalidad/desc_pruebas_procesados_2008.svg
National/Exploration/Input/Debido_proceso/Legalidad/desc_pruebas_sentenciados_2008.svg
National/Exploration/Output/Politica_criminal/Investigacion_persecucion/Estrategias de investigación.xlsx
National/Exploration/directorio_enpol.xlsx
National/Exploration/Input/*
National/Presentations/INL_MARZO/Visualizations/Logit_min_indicator_UAA.svg
National/Presentations/INL_MARZO/Visualizations/Logit_min_indicator_PJ.svg
National/Presentations/INL_MARZO/Visualizations/Logit_min_indicator_general.svg
National/Presentations/INL_MARZO/Visualizations/Logit_min_indicator_GDH.svg
National/Presentations/INL_MARZO/Visualizations/Logit_max_indicator_UAA.svg
National/Presentations/INL_MARZO/Visualizations/Logit_max_indicator_PJ.svg
National/Presentations/INL_MARZO/Visualizations/Logit_max_indicator_general.svg
National/Presentations/INL_MARZO/Visualizations/Logit_max_indicator_GDH.svg
National/Presentations/INL_MARZO/Visualizations/graficas-avances.pptx
National/Presentations/INL_MARZO/Visualizations/Bar_indicatorPJ.svg
National/Presentations/INL_MARZO/Visualizations/Bar_indicator_UAA.svg
National/Presentations/INL_MARZO/Visualizations/Bar_indicator_general.svg
National/Presentations/INL_MARZO/Visualizations/Bar_indicator_GDH.svg
National/Presentations/INL/HTML/charts_and_images/Figure4/figure_16C.svg
National/Presentations/INL/HTML/charts_and_images/Figure4/figure_16B.svg
National/Presentations/INL/HTML/charts_and_images/Figure4/figure_16A.svg
National/Exploration/Output/exp_Libertad.xlsx
Methodology/Flujogramas Debido proceso.pptx
Methodology/Control de pruebas de robustez.xlsx
National/Exploration/Output/Alternativas var escolaridad.xlsx
National/Exploration/Output/Alternativas var ingreso.xlsx
*.svg
*.js
*.map
*.pdf
*.png
*.jpg
*.html
*.css
*.log
National/Data_cleaning/Input/ENPOL 2016_GIZ_work_20181015.dta
National/Exploration/Output/tarea_logit-MacBook Air de Cristina.xlsx
National/Exploration/Output/Politica_criminal/FGR_tipodetencion_estado.xlsx
National/Exploration/Output/INEGI_homicidios.xlsx
National/Robustness_Checks/Prueba_robustez.rmarkdown
National/Robustness_Checks/Output/master_data.df.rds
National/Presentations/INL_JUNIO/assets/favicon.ico
National/Exploration/Output/Pruebas_sociodemográficos.xlsx
National/Visualization/Output/
National/Report/charts_and_images/uso_excesivo/uso_excesivo_fuerza.xlsx
National/Report/charts_and_images/uso_excesivo/uso_excesivo_fuerza.xlsx
National/Report/Prueba/Capitulo 1/Due Process/Data.xlsx
National/Report/charts_and_images/uso_excesivo/uso_excesivo_fuerza.xlsx
National/Report/charts_and_images/detenciones/Detenciones.xlsx
National/Report/charts_and_images/prision_preventiva/PP.xlsx
National/Report/charts_and_images/proceso_justo/proceso_justo.xlsx
National/Report/charts_and_images/uso_excesivo/uso_excesivo_fuerza.xlsx
